body {
  padding: 50px;
}

.sitemap * {
  transition: color 0.5s;
}

.sitemap h2 {
  line-height: 1;
  font-size: 18px;
  padding: 0 0 5px 0;
  color: #c2c1bf;
  transition: color 0.5s;
}

.sitemap a {
  font-size: 13px;
  color: #55524d;
}
.sitemap div:hover * {
  color: #c2c1bf;
}
.sitemap div:hover h2 {
  color: #ff5400;
}

/* 1번째 단계 오렌지 유지*/
.sitemap > div > ul > li:hover > a {
  color: #ff5400;
}

/* 2번째 단계 오렌지 */
.sitemap > div > ul > li > ul {
  margin: 15px 0 0;
  border-left: 1px solid #3c3933;
}

.sitemap > div > ul > li > a {
  display: block;
  margin: 24px 0 15px;
}

.sitemap > div > ul > li > ul > li {
  position: relative;
  padding: 0 0 8px 19px;
  line-height: 100%;
}
/* 가상선택자에 오렌지선 만든다. */
.sitemap > div > ul > li > ul > li:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ff5400;
  opacity: 0;
  transition: all 0.5s;
}
.sitemap > div > ul > li > ul > li:hover:before {
  opacity: 1;
}

/* 2번째 단계 오렌지 유지 */
.sitemap > div > ul > li > ul > li:hover > a {
  color: #ff5400;
}
.sitemap > div > ul > li > ul > li > ul {
  padding: 15px 0 0 0;
}
.sitemap > div > ul > li > ul > li > ul a {
  display: block;
  padding: 4px 0;
  font-size: 11px;
}

/* 3번째단계 오렌지 만들기 */
.sitemap > div > ul > li > ul > li > ul li {
  position: relative;
  z-index: 2;
  border-left: 1px solid #3c3933;
  padding: 0 0 0 10px;
  line-height: 15px;
}

.sitemap > div > ul > li > ul > li > ul li:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ff5400;
  opacity: 0;
  transition: all 0.5s;
}

.sitemap > div > ul > li > ul > li > ul li:hover:before {
  opacity: 1;
}

.sitemap > div > ul > li > ul > li > ul > li a:hover {
  color: #ff5400;
}
